/* contacto */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $color1;
    .form {
        width: min-content;
        align-self: center;
        justify-self: center;
      }
      fieldset {
        width: 500px;
        background-color: rgb(231, 231, 231);
        border: none;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        border-radius: 2%;
        padding: 25px;
      }
      h2 {
        text-align: center;
        margin: 10px;
      }
      input {
        height: 50px;
        border: none;
        margin-top: 10px;
        border-radius: 1%;
        padding: 5px;
      }
      textarea {
        margin-top: 30px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        resize: none;
      }
      .form-buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        button {
            padding: 10px;
            border: none;
            border-radius: 10px;
            color: rgb(22, 22, 22);
            &:hover {
                transition: 0.1s;
                background-color: white;
                transform: scale(1.05);
              }
          }
      }
  }
  /* redes */
  .redes {
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;
  }
  .data-redes {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
  }
  i {
    font-size: 25px;
    text-align: center;
    justify-self: center;
  }
  .data-redes a {
    align-self: center;
    margin-top: 25px;
    color: black;
  }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
      /* contact mobile */
        .form {
            max-width: 500px;
            width: 100%;

            fieldset {
                width: 100%;
                max-width: 500px;
                padding: 10px;
                h2 {
                    margin: 10px;
                  }
                  input {
                    margin-top: 20px;
                    padding: 5px;
                    max-width: 400px;
                    border-radius: 5px;
                    height: 18px;
                  }
                  textarea {
                    margin-top: 20px;
                    padding: 5px;
                    max-width: 400px;
                    border-radius: 5px;
                    height: 75px;
                  }
              }
              .form-buttons button {
                padding: 5px;
                border: none;
                border-radius: 10px;
                color: rgb(22, 22, 22);
                background-color: white;
                &:hover{
                    transition: 0.1s;
                    background-color: rgb(255, 221, 157);
                    transform: scale(1.05);
                  }
              }
          }
      }
      /* redes */
      .redes {
        width: max-content;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        justify-self: center;
      }
      .data-redes {
        align-content: center;
        justify-content: space-evenly;
      }
      i {
        font-size: 25px;
        text-align: center;
        justify-self: center;
      }
      .data-redes a {
        align-self: center;
        margin-top: 25px;
        color: black;
      }
    