//  Reset
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: $font1;

}
body{background-color: $rojo;}
.content-wrapper{
    background-color: $color1;
  }
// autohide
.autohide{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: $rojo;
    img{
      width: 80px;
    }
}
.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
  background-color: $rojo;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}
// Float wpp
.float{
  z-index: 1000;
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
  right: 10px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  transition: 0.2s;
  &:hover{
    transition: 0.1s;
    transform: scale(1.1);
    background-color: rgb(103, 181, 185);
  }
}

.my-float{
  margin-left: 2px;
	margin-top:5px;
}

// /* Header */
// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgb(163, 31, 32);
//   img {
//     height: 8vh;
//   }
//   navbar-list{
//   ul {
//     display: flex;
//     text-decoration: none;
//     list-style: none;
//     .nav-link{
//       text-decoration: none;
//       color: white;
//       transition: 0.1s;
//       &:hover {
//         color: #ebb629;
//         transition: 0.5;
//       }
//     }
//     li {
//       margin-right: 25px;
//       text-decoration: none;
//     }
//   }
// }


// .whats-app {
//   position: fixed;
//   width: 50px;
//   height: 50px;
//   bottom: 40px;
//   color: #FFF;
//   border-radius: 50px;
//   text-align: center;
//   font-size: 30px;
//   left: 15px;
//   z-index: 100;
//   text-decoration: none;
// }
// .my-float {
//   margin-top: 10px;
//   width: 50px;
// }
//
// }

// @media only screen and (min-width: 0px) and (max-width: 767px) {

//   .navbar ul {
//     justify-content: end;
//     li {
//       margin-right: 3px;
//       text-decoration: none;
//     }
//   }
// }

 