/* Servicio */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  width: 100%;
  background-color: $color1;
  h2 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    img {
        width: 100%;
        max-width: 525px;
      height: auto;    
    }
    h4 {
      text-align: center;
      position: absolute;
      z-index: 100;
    }
  }
}
.service-mobile{
  display: none;
}
// Services Mobile
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .carousel-service{
    display: none;
    margin: 10px;
  }
  .service-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    .service-card{
     margin: 8px;
      align-self: center;
      justify-self: center;
      max-width: 300px;
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      background-color: #e7e7e7 ;
      p{
        font-weight:600;
      }
    }
    img{
      max-width: 240px;
      border-radius: 5px;
    }
  }
}